{% extends 'Welfare/base.html' %}


{% block content %}
{% load staticfiles %}


  <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>Causes</h1>
            <div class="bread-crumb-outer">
                <ul class="bread-crumb clearfix">
                    <li><a href="#">Home</a></li>
                    <li class="active">Causes</li>
                </ul>
            </div>
        </div>
    </section>

<!--Sidebar Page-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">

                    <!--Causes Classic-->
                    <section class="causes-classic-view">

                        <!--Cause Box Two-->
                        <div class="cause-box-two">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><a href="single-cause.html"><img src="images/resource/featured-image-8.jpg" alt=""></a></figure>
                                    <div class="progress-box">
                                        <div class="bar">
                                            <div class="bar-inner animated-bar" data-percent="60%"><div class="count-text">60%</div></div>
                                        </div>
                                    </div>
                                </div>
