{% extends 'Welfare/base.html' %}


{% block content %}
{% load staticfiles %}


  <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/bg-page-title-1.jpg);">
        <div class="auto-container">
            <h1>Causes</h1>
            <div class="bread-crumb-outer">
                <ul class="bread-crumb clearfix">
                    <li><a href="#">Home</a></li>
                    <li class="active">Causes</li>
                </ul>
            </div>
        </div>
    </section>
