{% extends 'Welfare/base.html' %}


{% block content %}
{% load staticfiles %}

images/background/bg-page-title-1.jpg

  <!--Page Title-->
    <section class="page-title" style="background-image:url({%static 'Welfare/images/background/bg-page-title-1.jpg' %});">
        <div class="auto-container">
            <h1>FAQs</h1>
            <div class="bread-crumb-outer">
                <ul class="bread-crumb clearfix">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">FAQs</li>
                </ul>
            </div>
        </div>
    </section>