{% extends 'Welfare/base.html' %}


{% block content %}
{% load staticfiles %}

images/background/bg-page-title-1.jpg

  <!--Page Title-->
    <section class="page-title" style="background-image:url({%static 'Welfare/images/background/bg-page-title-1.jpg' %});">
        <div class="auto-container">
            <h1>FAQs</h1>
            <div class="bread-crumb-outer">
                <ul class="bread-crumb clearfix">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Pages</a></li>
                    <li class="active">FAQs</li>
                </ul>
            </div>
        </div>
    </section>

  <!--FAQs Section-->
    <section class="faqs-section">
    	<div class="auto-container">
            <!--Section Title-->
            <div class="sec-title centered">
            	<h2>FREQUENTLY ASKED QUESTIONS</h2>
                <div class="separator"></div>
            </div>
            <div class="title-box">
            	<h3>GENERAL QUESTIONS</h3>
            </div>